/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */


/*
 * Examples
 * (To see them, uncomment and save)
 */

// style the background color of the tree view
.tree-view {
  // background-color: whitesmoke;
}

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
  // color: white;
  // background-color: hsl(180, 24%, 12%);
}

// To style other content in the text editor's shadow DOM, use the ::shadow expression
atom-text-editor::shadow .cursor {
  // border-color: red;
}

.terminal-plus .xterm {
  background-color: transparent;
  //border-top: 1px solid #262728;
  margin-top: 0;
  color: #666;

  ::selection {
    background-color: #333638;
  }

  .terminal-cursor {
    background-color: #47b6ac;
    width: 2px;
  }
}

atom-text-editor, atom-text-editor::shadow {
  // Box
  .highlights .highlight-selected .region {
    border: none;
    background-color: #333;
  }
  // Background
  .highlights .highlight-selected.background .region {
    background-color: rgba(155, 149, 0, 0.6);
  }
  // Light theme box (set in settings)
  .highlights .highlight-selected.light-theme .region {
    border-color: rgba(255, 128, 64, 0.4);
  }
  // Light theme background (set in settings)
  .highlights .highlight-selected.light-theme.background .region {
    background-color: rgba(255, 128, 64, 0.2);
  }
}
atom-workspace,
atom-text-editor {
    font-family: "OperatorMono-Book";
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
 }
 atom-panel.tool-panel {
    font-size: 0.88em;
 }
 atom-text-editor::shadow{
    .entity.other.attribute-name {
        font-style: italic;
    }
}
